<div class="chats">
<% unless @chats.nil? %>
  <h3>自分</h3>
  <h3>相手</h3>
  <% @chats.each do |chat| %>

    <% if chat.user_id == current_user.id %>
      <div class="chat_jibun">

      <li><%= @content.chats.find_by(user_id: current_user.id).message %></li>
      </div>
    <% end %>
    <% unless chat.user_id == current_user.id %>
      <% if chat.user_id == @content.user_id %>
        <div class="chat_aite">

          <li><%= @content.chats.find_by(user_id: @content.user_id).message %></li>
        </div>
      <% elsif chat.user_id == @content.custome_id %>
        <div class="chat_aite">


          <li><%= @chats.find_by(user_id: @content.custome_id).message %></li>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>

<form action="/<%= @content.id %>/chat" method = "post">
  <input type="text" name="message">
  <input type="submit" value="Comment">
</form>