<form action="/board/<%=@content.id %>  " method="post">

<input type="text" name="board_title" placeholder="タイトル" value ="<%= @content.board_title %>"><br>
<input type="text" name="board_content"placeholder="内容" value ="<%= @content.board_content %>"> <br>

<input type="submit" value="編集完了">


</form>