<div>
  <form action="/groupin" method="post">
    <div>
      <div>
        <h1 class="mytitle">GroupIn</h1>
        <input class="input-text" name="group_name" placeholder="グループ名"><br>
        <input class="input-text" name="password" type="password" placeholder="グループパス">
      </div>

      <div>
        <input class="submit-btn" type="submit" value="SUBMIT">
      </div>
    </div>

  </form>

</div>