<div>
  <form action="/groupin" method="post">
    <div>
      <div>
        <input name="group_name" placeholder="グループ名"><br>
        <input name="password" type="password" placeholder="グループパス">
      </div>

      <div>
        <input type="submit" value="ログイン">
      </div>
    </div>

  </form>

</div>