
<div>
<form action="/post" method="post">
      <p> タイトル: <input type="text" name="board_title" >
      <p> 案件内容: <input type="text" name="board_content" >

　　　<input type="submit" value="依頼!">

      </form>

      </div>