
<div>
<form action="/group/<%= @group.id  %>/post" method="post">
    <h1 class="mytitle">依頼ページ</h1>
     <input class="input-text" type="text" name="board_title" placeholder="科目">
     <input class="input-text" type="text" name="board_content" placeholder="案件内容" >

　　　<input class="submit-btn" type="submit" value="依頼!">

      </form>

      </div>