<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">

  <title>Document</title>
</head>
<body>
<h2 class="mytitle">ShareBoard</h2>
<h3 class="mytitle10">Linebot QRコード</h3>
<div class="">
<div class="codes">
<img class="code" src=/img/qr_code1.png
>
</div>
</div>
</body>
</html>
