
  <h1 class="title_in">Sign in!</h1>
  <form action="/signin" method="post">
    <div>
      <div>
        <input class="input-text" name="name" placeholder="お名前"><br>
        <input class="input-text" name="password" type="password" placeholder="パスワード">
      </div>

      <div>
        <input class="submit-btn" type="submit" value="Login">
      </div>
    </div>

  </form>
