

<div>
　
  <form action="/signup" method="post" enctype="multipart/form-data">
  <h1 class="title">Sign up!</h1>
    <div>
      <div>
        <input class="input-text" name="name" placeholder="your name"><br>

        <input  class="input-text" name="password" type="password" placeholder="パスワード"><br>
        <input  class="input-text" name="password_confirmation"type="password" placeholder="パスワード確認"><br>
        <div class="my-field"></div>

        <label class="qr" for="image1">アイコンを選択
        <input class="file" name="file" type="file" accept="image/png,image/jpeg,image/gif" id="image1"></label>


      </div>
      <div>
        <input class="submit-btn " type="submit" value="submit">
      </div>
    </div>
  </form>
</div>