<div>
  <form action="/signin" method="post">
    <div>
      <div>
        <input name="name" placeholder="お名前"><br>
        <input name="password" type="password" placeholder="パスワード">
      </div>

      <div>
        <input type="submit" value="ログイン">
      </div>
    </div>

  </form>

</div>