<div>
  <form action="/signup" method="post" enctype="multipart/form-data">
    <div>
      <div>
        <input name="name" placeholder="お名前"><br>
        <input name="file" type="file"><br>
        <input name="password" type="password" placeholder="パスワード"><br>
        <input name="password_confirmation"type="password" placeholder="パスワード確認">
      </div>
      <div>
        <input type="submit" value="登録">
      </div>
    </div>
  </form>
</div>