 * {

   margin: 0;
   padding: 0;
 }

 body {
   background-color: #fafafa;

 }

 i.fas {
   color: #5b99f4;


 }


 .back {
   display: flex;
   justify-content: center;
   width: 100vw;
   height: 100vh;

 }

 .home {
   width: 100vw;
   height: 100vh;
   margin: 0;

   background-image: url("/img/back7.png");
   background-size: cover;
   background-position: center;
   position: absolute;
 }

 .links {

   margin-top: 8vh;
   padding-left: 70vw;
 }

 .link {
   margin: 10px;
   font-size: 23px;
   background: #fafafa;
   padding: 10px;
   /* border-bottom: solid 1px #5b99f4; */

   transition-duration: 0.3s;
   transition-property: border-bottm;

 }

 .link:hover {


   border-bottom: solid 1px #5b99f4;

 }


 a {
   color: #4D5359;

 }

 .signin {
   position: relative;
   top: 50vh;
   left: 50vw;
   display: block;
   width: 10vw;
   color: ;
 }

 li {
   list-style-type: none;
 }

 a {
   text-decoration: none;
 }

 .input-text {
   display: block;
   width: 70%;
   height: 36px;
   border-width: 0 0 2px 0;
   border-color: #4D5359;
   background: #fafafa;
   font-family: Lusitana, serif;
   font-size: 18px;
   line-height: 26px;
   font-weight: 400;

   margin-top: 5vh;
 }

 .input-text {
   display: block;
   width: 50%;
   height: 36px;
   border-width: 0 0 2px 0;
   border-color: #4D5359;
   background: #fafafa;
   font-family: Lusitana, serif;
   font-size: 18px;
   line-height: 26px;
   font-weight: 400;
   margin: 0 auto;
   margin-top: 5vh;
 }

 .messa {
   width: 50vw;
   float: left;
 }

 .title {
   text-align: center;
   color: #4D5359;
   margin-top: 5vh;

 }

 .title_in {
   text-align: center;
   color: #4D5359;
   margin-top: 20vh;

 }

 .mytitle {
   text-align: center;
   font-size: 40px;
   color: #4D5359;
   height: 12vh;
   padding: 12vh;

 }

 .mytitle5 {
   font-size: 30px;

   color: #4D5359;
   padding-top: 4vh;
   padding-left: 43vw;
   margin-bottom: 30px;


 }

 .mytitle5::before {
   font-family: "Font Awesome 5 Free";
   content: "\f007";
   color: #4D5359;
   font-weight: 900;
   padding-right: 40px;
   font-size: 25px;
 }

 .mytitle2 {
   text-align: center;
   font-size: 40px;
   color: #4D5359;
   height: 10vh;
   padding: 12vh;

 }

 .mytitle8 {
   font-size: 30px;

   color: #4D5359;
   padding-top: 4vh;
   padding-left: 66vw;


 }

 .mytitle8::before {
   font-family: "Font Awesome 5 Free";
   content: "\f0c0";
   color: #5b99f4;
   font-weight: 900;
   padding-right: 40px;
   font-size: 25px;
 }

 .mytitle9 {
   color: #4D5359;
   font-size: 19px;
   margin-bottom: 24px;
 }

 .mytitle9::before {
   font-family: "Font Awesome 5 Free";
   content: "\f521";
   color: #5b99f4;
   font-weight: 900;
   padding-right: 20px;
   font-size: 25px;
 }







 .ranking {
   padding-left: 72vw;
   margin-top: 5vh;
 }

 .rank {
   margin: 5px;
   padding-left: 18px;
   color: #4D5359;
 }






 .secondtitle1 {
   text-align: center;
   color: #4D5359;
   font-size: 15px;
   margin-bottom: 20px;

 }

 .secondtitle1::before {
   font-family: "Font Awesome 5 Free";
   content: "\f0c0";
   color: #5b99f4;
   font-weight: 900;
   padding-right: 20px;
   font-size: 25px;
 }


 .secondtitle2 {
   text-align: center;
   color: #4D5359;
   font-size: 15px;
   margin-bottom: 20px;

 }

 .secondtitle2::before {
   font-family: "Font Awesome 5 Free";
   content: "\f0f3";
   color: #5b99f4;
   font-weight: 900;
   padding-right: 20px;
   font-size: 25px;
 }




 .thirdtitle {
   text-align: center;
   color: #4D5359;
   margin-bottom: 70px;
   margin-top: 5vh;
   font-size: 29px;
 }

 h2.thirdtitle::before {
   font-family: "Font Awesome 5 Free";
   content: "\f5ae";
   color: #5b99f4;
   font-weight: 900;
   padding-right: 40px;
   font-size: 25px;
 }


 .submit-btn {
   display: block;
   margin: 0 auto;
   background-color: #4D5359;
   color: #fafafa;
   font-family: Raleway, sans-serif;
   margin-top: 14vh;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 16px;
   line-height: 24px;
   padding: 8px 16px;
   border: none;
   cursor: pointer;
   text-align: center;
 }




 .qr {

   background: #39f;
   color: white;
   font-size: 0.8rem;
   padding: 8px 10px;
   border-radius: 4px;
   display: inline-block;

   cursor: pointer;
   margin-right: 8px;
   margin-top: 5vh;
   margin-left: 25vw;
 }

 .humb {
   background: none;
   margin-left: 20vw;
   margin-top: 9vh;
 }

 #menubtn {
   z-index: 999;
   /*追加*/
   position: fixed;
   /*追加*/
 }

 #menubtn img {
   width: 100%;
   max-width: 80px;
 }

 .w1000 {
   max-width: 1000px;
   margin: 0 auto;
   position: relative;
   /*追加*/
   height: 100%;
   /*追加*/
 }

 .hum_nav {
   background-color: #1C5D99;
   padding-left: 70vw;
   padding-top: 5vh;
   display: none;
   position: absolute;
   /*追加*/
   width: 30%;
   /*追加*/
   height: 100%;

   /*追加*/


 }

 .nav-hidden {
   display: none;
 }

 #nav-input:checked~nav {
   /*チェック入ってるとき ~ メニューが*/
   display: block;
   /*追加*/
   animation: 1s fadeIn;
   /*追加*/
 }

 @keyframes fadeIn {
   from {
     opacity: 0;
   }

   /*追加*/
   to {
     opacity: 1;
   }

   /*追加*/
 }

 .nav-hidden {
   display: none;
 }

 .icon {
   background: #fafafa;
   float: left;
   overflow: hidden;
 }

 .group {
   color: #fafafa;
   overflow: hidden;
   height: 40px;
   padding-left: 25px;
   padding-top: 15px;

 }

 .point_script {
   color: #fafafa;
   overflow: hidden;

   padding-left: 25px;
   padding-top: 15px;

 }

 .group1 {
   color: #fafafa;

 }

 .groups {
   margin-top: 40px;
   border-bottom: #fafafa solid 1px;
   padding: 5px;
   overflow: hidden;
 }

 .group4 {

   color: #fafafa;
 }



 label input {
   display: none;
 }


 .file {
   position: relative;
   margin: 8px 0 0 -14px;
 }

 .file::before {
   content: “添付ファイル：”;
   position: absolute;
   background: #fff;
   width: 110px;
   height: 26px;
   line-height: 1.8;
   text-align: right;

 }

 .group_links {
   height: 20vh;
   width: 30%;
   overflow: hidden;
   padding-left: 3vw;

 }

 .informed {
   width: 30%;
   height: 20vh;
 }

 .header {
   padding-left: 30vw;
 }

 .header_info {
   display: flex;
   justify-content: center;
 }

 .group_link {

   color: #4D5359;
   float: left;
   margin-left: 49px;
   margin-bottom: 10px;
   transition: 0.3s;

 }

 .group_link2 {

   color: #4D5359;
   float: left;
   margin-left: 30px;


 }

 .group_link:hover {

   border-bottom: solid #5b99f4 1px;
 }

 .url5 {
   display: inline-block;
   margin-left: 30px;
   font-size: 20px;
 }

 .url5::before {
   font-family: "Font Awesome 5 Free";
   content: "\f19d";
   color: #EF8A17;
   font-weight: 900;
   padding-right: 15px;
   font-size: 20px;
 }

 .url6 {
   display: inline-block;
   margin-left: 30px;
   font-size: 20px;
 }

 .url6::before {
   font-family: "Font Awesome 5 Free";
   content: "\f2f5";
   color: #E0479E;
   font-weight: 900;
   padding-right: 15px;
   font-size: 20px;

 }


 .url2 {
   display: inline-block;
   margin-left: -72px;
   font-size: 20px;
   color: #4D5359;
 }

 .urls {
   display: flex;
   margin-left: 66vw;
 }

 #edit {
   display: none;
 }

 #offer {
   display: none;
 }

 .content {
   width: 230px;
   height: 289px;

   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
     rgba(0, 0, 0, 0.22) 0px 10px 10px;
   margin-left: 50px;
   margin-top: 20px;
   overflow: hidden;
   float: left;
   margin-bottom: 20px;

 }

 .head {
   width: 230px;
   height: 230px;


   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.3s;

 }


 .head:hover {
   background: #4D5359;

   content: "編集";
   color: red;
 }

 .head2:hover {
   content: "編集";
   color: #fafafa;


 }

 .pen {
   font-family: Raleway,
     sans-serif;
   color: #4D5359;
 }

 .content_title {
   font-family: Raleway,
     sans-serif;
   font-size: 13px;
   padding: 10px;
   width: 230px;
   color: #4D5359;
 }

 .content_script {
   font-family: Raleway,
     sans-serif;
   font-size: 5px;

   margin-left: 5px;
   color: #4D5359;
   width: 230px;
 }

 .content_script2 {
   font-family: Raleway,
     sans-serif;
   font-size: 12px;


   color: #4D5359;
   text-align: center;
   padding-top: 14px;

 }

 .content_name {
   font-family: Raleway,
     sans-serif;
   font-size: 15px;
   color: #fafafa;
   background: #4D5359;
   /* opacity: 0.7; */
   margin-top: -30px;
   margin-left: 142px;
   padding: 3px;
   width: 80px;


   border-radius: 5%;

   text-align: center;
   box-shadow: #4D5359 0px 25px 50px -12px;
   /* position: relative;
   left: 160px;
   top: -10px; */
 }

 .edit_name {
   color: #fafafa;

   font-family: Raleway,
     sans-serif;
   font-size: 25px;

 }

 .scription {
   /* position: absolute; */
 }

 .chat_jibun {
   float: left;
   overflow: hidden;
   width: 50vw;
 }

 .chat_aite {
   width: 50vw;
   overflow: hidden;

 }


 .chats {
   height: 100vh;
   width: 50vw;
 }

 .trade {
   width: 230px;


   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
     rgba(0, 0, 0, 0.22) 0px 10px 10px;

   margin-left: 50px;


   float: left;
   margin-bottom: 100px;
   padding-bottom: 5px;
   padding-left: 5px;
 }

 .trade_head {
   width: 230px;
   height: 230px;
   padding: 5px;


 }

 .subject {
   color: #4D5359;
   font-size: 20px;
   text-align: center;
   padding-top: 50%;
 }

 .subject2 {
   color: #4D5359;
   font-size: 20px;
   padding-top: 38%;
   text-align: center;
 }

 .line {
   width: 50px;
   height: 50px;
   /* background: rgb(77, 83, 89, 50);

   */
   margin-top: -30%;
 }

 .line2 {
   width: 50px;
   height: 50px;
   margin-top: -30%;


 }

 .comp {
   text-align: center;
   box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
   color: #4D5359;
   padding: 2px;
   width: 20%;
   height: 20%;
   font-size: 12px;
   margin: 0 auto;
 }

 .comp:hover {
   background: #5b99f4;
   color: #fafafa;
 }

 #complete {
   display: none;
 }

 .chat_link {
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
     rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
     rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
   padding: 5px;
   margin-left: 180px;
   transition: 0.2s;

 }

 .chat_link:hover {
   background: #5b99f4;
   color: #fafafa;


 }

 .images {}

 .names {

   background: rgb(77, 83, 89, 50);
   width: 24%;
   text-align: center;
   color: #fafafa;
   border-radius: 5%;
   margin-left: 74%;
   margin-top: -14%;
   font-size: 12px;


 }

 #confirm {
   display: none;
 }

 .confirm {
   text-align: center;
   box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
   color: #4D5359;
   padding: 2px;
   width: 20%;
   height: 20%;
   font-size: 12px;
   margin: 0 auto;



 }

 .confirm:hover {
   background: #5b99f4;
   color: #fafafa;
 }

 .jibun {
   background-image: url("/img/chat.png");
   height: 10vh;
   background-size: cover;
   width: 30vh;
   text-align: center;
   color: #4D5359;
   margin: 0 auto;
   margin-bottom: 10vh;
   padding: 2px;
 }

 .comment {

   font-size: 15px;
   padding-top: 22px;
 }

 .aite {
   background-image: url("/img/chat.png");
   height: 10vh;
   background-size: cover;
   width: 30vh;
   text-align: center;
   color: #4D5359;
   margin: 0 auto;
   margin-bottom: 10vh;
   padding: 2px;

 }

 .chat_name {
   text-align: center;
   color: #4D5359;

 }

 .chat_aite {
   width: 25vw;
   margin: 20px;

 }

 .chat_jibun {
   width: 25vw;
   margin: 20px;

 }

 .chats {
   display: flex;
   justify-content: center;
   margin-top: 5vh;
 }

 .mobile_title {
   display: none;
 }

 /* .menu li.menu__single {
   position: relative;
 }

 li.menu__single ul.menu__ti-level {
   position: absolute;
   top: 40px;
   width: 100%;
   background: #072A24;
   -webkit-transition: all .2s ease;
   transition: all .2s ease;
 }

 li.menu__single:hover ul.menu__second-level {
   top: 50px;
   visibility: visible;
   opacity: 1;
 } */


 /* label:after {
   content: "選択されていません";
   color: #333;
   font-size: 14px;
   height: 20px;
 } */